
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  font-size: 35px;
}

/* Nav bar outer*/
ul{
	list-style-type: none;
	
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Nav bar inner*/
li{
	float: left
}

/* nav bar element*/
li a{
	display: block;
	padding:16px;
	background-color: #dddddd;
}

/* nav bar button*/
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

/* button hover*/
a.button:hover {
	color: blue
}

/* column */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* remove when final*/
}

/* side column*/
.column.side1 {
	width: 20%
}

/* middle column*/
.column.middle{
	width: 60%
}

/* 2 equal columns */
.column.side2 {
  width: 10%;
}


/* Links */
.column a {
  color: blue;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* User links */
.column ab {
  color: blue;
  padding: 8px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.column a:hover {
  background-color: #30e2ed;
  color: red;
}

/* Change color on hover for user links */
.column ab:hover {
  background-color: #30e2ed;
  color: red;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}